
<div [formGroup]="myForm">
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Nomi</mat-label>
      <input matInput placeholder="Topshiriq nomini kiriting" value="">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Muddat</mat-label>
      <input matInput placeholder="Topshiriq muddatini kiriting" value="">
    </mat-form-field>
  </div>

</div>

<div class="btn btn-inline">
  <button mat-flat-button>Saqlash</button>
  <button mat-flat-button>Bekor</button>
</div>
