<div class="row">
  <div class="col">
    <div [formGroup]="myForm">
      <div>
        <mat-form-field class="example-full-width w-100">
          <mat-label>Nomi</mat-label>
          <input formControlName="title" matInput placeholder="Topshiriq nomini kiriting">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width w-100 pl-3">
          <mat-label>Muddat</mat-label>
          <input type="date" formControlName="deadline" matInput placeholder="Topshiriq muddatini kiriting">
        </mat-form-field>
      </div>

    </div>

    <div class="d-inline-flex">
      <button (click)="save()" mat-flat-button color='primary'>Saqlash</button>
      <button (click)="close()" mat-flat-button color='warn' class="" style="margin-left: 3px;">Bekor</button>
    </div>

  </div>
</div>
